@import "/resources/sass/header.scss";
@import "/resources/sass/footer.scss";
@import "/resources/sass/navbar.scss";
@import "/resources/sass/main.scss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: currentColor;
}