.main{
    color: white;
    background-color: rgb(21,21,21);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;

    .card_wrapper{
      padding: 50px 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;
    }

    button{
      height: 40px;
      width: 180px;
      background-color: rgb(13,106,247);
      border: none;
      color: white;
      text-transform: uppercase;
      font-weight: 600;
      margin: 40px;
    }

    .banner{
      height: 400px;
      width: 100%;
      background: url("../img/jumbotron.jpg");
    }

    #current{
      height: 50px;
      width: 250px;
      font-size: 18px;
      margin: 0;
      transform: translate(-220%,-50%)
    }
}

.card{
    display: flex;
    flex-direction: column;
    width: calc(100% / 7);
    height: 250px;

    figure{

        width: 100%;
        background-color: blue;
        aspect-ratio: 1;
        flex-shrink: 0;
        overflow: hidden;
    }

    img{
        width: 100%;
    }

    h3{
        padding-top: 10px;
        color: white;
        text-transform: uppercase;
    }
}

.mainDetails{
  
  .banner{
    height: 400px;
    width: 100%;
    background: url("../img/jumbotron.jpg");
  }

  .blue{
    height: 80px;
    width: 100%;
    background-color: rgb(14,105,245);
    padding: 0 200px;

    figure{
      transform: translate(0%,-80%);
      position: absolute;
      height: 294px;
      width: 194px;
      border: 1px solid white;

      img{
        position: absolute;
      }

      .thumb{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
      }

      .comic,.gallery{
        background-color: rgb(19,152,208);
        color: white;
        text-align: center;
      }

      .gallery{
        width: 100%;
      }

      .comic{
        width: 50%;
      }
    }
  
  }
  .content{
    padding: 50px 200px;
    display: flex;

    .col-9{
      width: 70%;
      padding-right: 50px;

      h1{
        text-transform: uppercase;
        color: rgb(4,47,75);
        padding-bottom: 30px;
      }

      .price{
        color: white;
        display: flex;
        padding-bottom: 20px;

        div{
          background-color: rgb(72,176,71);
          height: 45px;
          padding: 0 15px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid rgb(42,102,43);
        }

        .triangolo{
          font-size: 10px;
        }

        .col-8{
          width: 60%;
          justify-content: space-between;
          border-right: 1px solid rgb(42,102,43);

          .green{
            color: rgb(153,230,88);
          }
        }

        .col-4{
          width: 40%;
          justify-content: center;
        }
      }
    }

    .col-3{
      width: 30%;
      text-align: right;
    }

    h4{
      color: rgb(80, 80, 80);
    }
  }
}
