.navbar{
    height: 150px;
    background-color: rgb(13,106,247);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    flex-shrink: 0;

    img{
        height: 50px;
    }

    ul{
        display: contents;
        list-style: none;
    }
    
    li{
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    span{
        color: white;
        font-size: 18px;
        text-transform: uppercase;
    }
}
