.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 200px;
  flex-shrink: 0;
}
.header img {
  height: 80px;
  width: 80px;
  display: block;
}
.header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  text-transform: uppercase;
  font-size: 12px;
}
.header li {
  height: 100px;
  display: flex;
  align-items: center;
}
.header .active {
  color: rgb(13, 106, 247);
  border-bottom: 2px solid rgb(13, 106, 247);
}

.footer-menu {
  height: 380px;
  display: flex;
  justify-content: space-between;
  color: white;
  background: url("../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  overflow: hidden;
  padding: 0 200px;
  flex-shrink: 0;
}
.footer-menu img {
  width: 500px;
}
.footer-menu .menu {
  width: 400px;
  height: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.footer-menu ul {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  list-style: none;
}
.footer-menu h4 {
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: uppercase;
}
.footer-menu li {
  font-size: 12px;
  color: rgb(186, 183, 183);
}
.footer-menu li:hover {
  color: white;
}

.footer {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  background-color: rgb(36, 36, 36);
  flex-shrink: 0;
}
.footer .bottone {
  height: 50px;
  width: 150px;
  border: 3px solid rgb(13, 106, 247);
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  background-color: transparent;
}
.footer img {
  height: 30px;
  display: block;
}
.footer .social {
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgb(13, 106, 247);
  text-transform: uppercase;
}
.footer ul {
  list-style: none;
  display: contents;
}

.navbar {
  height: 150px;
  background-color: rgb(13, 106, 247);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  flex-shrink: 0;
}
.navbar img {
  height: 50px;
}
.navbar ul {
  display: contents;
  list-style: none;
}
.navbar li {
  display: flex;
  align-items: center;
  gap: 15px;
}
.navbar span {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: currentColor;
}